.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  body {
    background-color: #3498db;
    color: #ecf0f1;
  }
  
  .back-to-top {
      position: fixed;
      bottom: 25px;
      right: 25px;
      display: none;
  }
  